<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="{{ navigation }}">DBBL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">
            Dashboard
          </a>
        </li>
        <li class="nav-item" *ngIf="isCustomer()">
          <a class="nav-link" routerLinkActive="active" routerLink="/home">
            Home
          </a>
        </li>
        <li class="nav-item dropdown no-arrow" *ngIf="isAuthenticated()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-white text-capitalize">{{ getCurrentUser() }}</span>
            <img class="img-profile rounded-circle bg-light" [src]="profilePicture" alt="" />
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <a class="dropdown-item" routerLink="/change-password">Change Password</a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
