<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="account" class="col-sm-4 col-form-label col-form-label">
            Account No
          </label>
          <div class="col-sm-6">
            <input type="text"
                   formControlName="account"
                   name="account"
                   id="account"
                   class="form-control"
                   required />
            <div class="alert alert-danger mt-3" *ngIf="account.invalid && (account.dirty || account.touched)">
              Please provide a valid Account No
            </div>
            <div class="alert alert-danger" *ngIf="account.hasError('isAccountInvalid')">
              Invalid Account No
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" [disabled]="!accountForm.valid" class="btn btn-block btn-primary">
              Search
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <hr class="mb-5"/>

  <div *ngIf="customer">

    <div class="row mb-3">
      <div class="col-lg-10">
        <h3>{{ customer.fullName }}</h3>
      </div>
      <div class="col-lg-2 border">
        <h3>The Image goes here</h3>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-lg-12">
        <h4>Personal Information</h4><hr />
        <p> Customer Name: {{ customer.fullName }} </p>
        <p> NID No: {{ customer.nidNo }} </p>
        <p> Date of Birth: {{ customer.dob }} </p>
        <p> Phone No: {{ customer.phoneNo }} </p>
        <p> Address: {{ customer.address }} </p>
        <p> Father's Name: {{ customer.fatherName }} </p>
        <p> Mother's Name: {{ customer.motherName }} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h4>Account Information</h4><hr />
        <p> Account No: {{ customer.accountNo }} </p>
        <p> Account Type: {{ customer.accountType }} </p>
        <p> Current Balance: {{ customer.balance }} BDT</p>
      </div>
    </div>

  </div>

</div>

<ngx-spinner><p style="color: white"> Searching... </p></ngx-spinner>
