<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="mb-5">Search Customer</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label for="account" class="col-sm-4 col-form-label col-form-label">
            Account No
          </label>
          <div class="col-sm-6">
            <input type="text"
                   formControlName="account"
                   name="account"
                   id="account"
                   class="form-control"
                   required />
            <div class="alert alert-danger mt-3" *ngIf="account.invalid && (account.dirty || account.touched)">
              Please provide a valid Account No
            </div>
            <div class="alert alert-danger" *ngIf="account.hasError('isAccountInvalid')">
              Invalid Account No
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" [disabled]="!accountForm.valid" class="btn btn-block btn-primary">
              Search
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <hr class="mb-5"/>

  <div *ngIf="customer">

    <div class="row mb-3">

      <div class="col-lg-12">
        <h4>Personal Information</h4><hr />
      </div>

      <div class="col-lg-9">
        <p> Customer Name: {{ customer.fullName }} </p>
        <p> NID No: {{ customer.nidNo }} </p>
        <p> Date of Birth: {{ customer.dob }} </p>
        <p> Phone No: {{ customer.phoneNo }} </p>
        <p> Address: {{ customer.address }} </p>
        <p> Father's Name: {{ customer.fatherName }} </p>
        <p> Mother's Name: {{ customer.motherName }} </p>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <img *ngIf="picture" [src]="picture" alt="picture" class="card-img-top" (click)="zoomPicture()" />
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-12">
        <h4>Account Information</h4><hr />
      </div>

      <div class="col-lg-9">
        <p> Account No: {{ customer.accountNo }} </p>
        <p> Account Type: {{ customer.accountType }} </p>
        <p> Current Balance: {{ customer.balance }} BDT</p>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <img *ngIf="nid" [src]="nid" alt="nid" class="card-img-top" (click)="zoomNid()" />
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


<!-- PICTURE ZOOM MODAL -->
<div class="modal fade" id="pictureZoomModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="pictureZoomBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pictureZoomBackdropLabel">Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="picture" [src]="picture" class="figure-img img-fluid rounded" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- NID ZOOM MODAL -->
<div class="modal fade" id="nidZoomModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="nidZoomBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nidZoomBackdropLabel">National ID Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="nid" [src]="nid" class="figure-img img-fluid rounded" alt="" />
      </div>
    </div>
  </div>
</div>


<ngx-spinner><p style="color: white"> Searching... </p></ngx-spinner>
