<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3 class="text-center">Withdraw</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
              <label for="account" class="col-sm-4 col-form-label col-form-label">
                Account No
              </label>
              <div class="col-sm-8">
                <input type="text"
                       formControlName="account"
                       name="account"
                       id="account"
                       class="form-control"
                       required />
                <div class="alert alert-danger" *ngIf="account.invalid && (account.dirty || account.touched)">
                  Please provide a valid account no
                </div>
                <div class="alert alert-danger" *ngIf="account.hasError('isAccountInvalid')">
                  Invalid Account No
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="amount" class="col-sm-4 col-form-label col-form-label">
                Withdraw Amount
              </label>
              <div class="col-sm-8">
                <input type="text"
                       formControlName="amount"
                       name="amount"
                       id="amount"
                       class="form-control"
                       required />
                <div class="alert alert-danger mt-3" *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                  Please provide an amount
                </div>
                <div class="alert alert-danger" *ngIf="amount.hasError('isAmountInvalid')">
                  Insufficient Balance
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" [disabled]="!withdrawForm.valid" class="btn btn-block btn-success">
                  Withdraw
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner><p style="color: white"> Transaction in progress... </p></ngx-spinner>
