<app-header></app-header>

<div class="container">

  <div *ngIf="customer">

    <div class="row mb-3">

      <div class="col-lg-12">
        <h4>Personal Information</h4><hr />
      </div>

      <div class="col-lg-9">
        <p> Customer Name: {{ customer.fullName }} </p>
        <p> NID No: {{ customer.nidNo }} </p>
        <p> Date of Birth: {{ customer.dob }} </p>
        <p> Phone No: {{ customer.phoneNo }} </p>
        <p> Address: {{ customer.address }} </p>
        <p> Father's Name: {{ customer.fatherName }} </p>
        <p> Mother's Name: {{ customer.motherName }} </p>
      </div>

      <div class="col-lg-3">

        <div class="card">
          <div class="card-body">

            <img *ngIf="picture" [src]="picture" alt="picture" class="card-img-top mb-3" (click)="zoomPicture()" />

            <button *ngIf="customer.accountTypeId === 2"
                    (click)="openPictureBrowser()"
                    class="btn btn-primary btn-block">
              Update Picture
            </button>
            <input type="file" id="pictureBrowser"
                   accept=".jpg, .jpeg"
                   data-max-size="1024"
                   (change)="onPictureSelected($event)"
                   required hidden />
          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-lg-12">
        <h4>Account Information</h4><hr />
      </div>

      <div class="col-lg-9">
        <p> Account No: {{ customer.accountNo }} </p>
        <p> Account Type: {{ customer.accountType }} </p>
        <p> Current Balance: {{ customer.balance }} BDT</p>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">

            <img *ngIf="nid" [src]="nid" alt="nid" class="card-img-top mb-3" (click)="zoomNid()" />

            <button *ngIf="customer.accountTypeId === 2"
                    (click)="openNidBrowser()"
                    class="btn btn-primary btn-block">
              Update NID
            </button>
            <input type="file" id="nidBrowser"
                   accept=".jpg, .jpeg"
                   data-max-size="1024"
                   (change)="onNidSelected($event)"
                   required hidden />
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Picture Modal -->
<div class="modal fade" id="pictureModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="pictureBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pictureBackdropLabel">Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="picturePreview" [src]="picturePreview" class="figure-img img-fluid rounded" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="onPictureUpdate()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- NID Modal -->
<div class="modal fade" id="nidModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="nidBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nidBackdropLabel">NID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="nidPreview" [src]="nidPreview" class="figure-img img-fluid rounded" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="onNidUpdate()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- PICTURE ZOOM MODAL -->
<div class="modal fade" id="pictureZoomModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="pictureZoomBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pictureZoomBackdropLabel">Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="picture" [src]="picture" class="figure-img img-fluid rounded" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- NID ZOOM MODAL -->
<div class="modal fade" id="nidZoomModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="nidZoomBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nidZoomBackdropLabel">National ID Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="nid" [src]="nid" class="figure-img img-fluid rounded" alt="" />
      </div>
    </div>
  </div>
</div>

<ngx-spinner><p style="color: white"> Loading... </p></ngx-spinner>
