<app-header></app-header>

<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3 class="text-center">Upload Files</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
              <label for="nid" class="col-sm-4 col-form-label col-form-label">
                NID (Max 1 MB)
              </label>
              <div class="col-sm-8">
                <input type="file"
                       formControlName="nid"
                       name="nid"
                       id="nid"
                       class="form-control"
                       accept=".jpg, .jpeg"
                       data-max-size="1024"
                       (change)="onNidChange($event)"
                       required />
              </div>
            </div>

            <div class="form-group row">
              <label for="picture" class="col-sm-4 col-form-label col-form-label">
                Picture (Max 1 MB)
              </label>
              <div class="col-sm-8">
                <input type="file"
                       formControlName="picture"
                       name="picture"
                       id="picture"
                       class="form-control"
                       accept=".jpg, .jpeg"
                       data-max-size="1024"
                       (change)="onPictureChange($event)"
                       required />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" [disabled]="!uploadForm.valid" class="btn btn-block btn-success">
                  Upload
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
    <div class="col-lg-4 border-left">
      <div class="row offset-1 mb-3">
        <figure class="figure">
          <img *ngIf="nidPreview" [src]="nidPreview" class="figure-img img-fluid rounded" alt="" />
          <figcaption class="figure-caption">NID</figcaption>
        </figure>
      </div>
      <div class="row offset-1">
        <figure class="figure">
          <img *ngIf="picturePreview" [src]="picturePreview" class="figure-img img-fluid rounded" alt="" />
          <figcaption class="figure-caption">Picture</figcaption>
        </figure>
      </div>
    </div>
  </div>

</div>

<ngx-spinner><p style="color: white"> Uploading... </p></ngx-spinner>
